@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxP.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format("truetype");
}

.title {
  width: 100%;
  height: 100%;
  min-width: 438px;
  min-height: 95px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("/img/attraction/標題用.png");
}

.title h1 {
  padding-left: 24px;
  padding-top: 32px;
  font-size: 2rem;
}

.title:after {
  content: '';
  width: calc( 438px / 2);
  height: 2px;
  border-bottom: 2px solid #000000;
}

.subtitle {
  padding-left: 9%;
  font-size: 1.5rem;
}

.photos .row:nth-child(2) {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.photos .row:nth-child(2) *, .photos .row:nth-child(2) *:before, .photos .row:nth-child(2) *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.photos .row:nth-child(2) .site-outer {
  overflow: hidden;
}

.photos .row:nth-child(2) .site-outer .site-inner {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 1.6em;
  list-style: none;
  width: calc(100% / 6);
  height: inherit;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li .accordion-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li h3 {
  position: relative;
  margin: 6.5rem 0 0;
  padding: 0;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #ffffff;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 100%;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li section article {
  display: table-cell;
  position: relative;
  right: -200%;
  padding: 4rem;
  vertical-align: middle;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li section article p {
  padding: 1.6rem;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8);
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li section article p:before, .photos .row:nth-child(2) .site-outer .site-inner .accordion-group li section article p:after {
  content: '';
  display: block;
  height: 1px;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li.out {
  width: 50%;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li.out section article {
  right: 0;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(1) {
  background-image: url("/img/attraction/25-news.ltn.com.tw-Larch-1.jpg");
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(1) .accordion-overlay {
  background-color: #3F4042;
  opacity: 0.8;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(1).out .accordion-overlay {
  background-color: #3F4042;
  opacity: 0;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(2) {
  background-image: url("/img/attraction/17-travel.taichung.gov.tw-GongLaoPing-3.jpg");
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(2) .accordion-overlay {
  background-color: #AEA83E;
  opacity: 0.8;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(2).out .accordion-overlay {
  background-color: #AEA83E;
  opacity: 0;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(3) {
  background-image: url("/img/attraction/30-FB@taichungresort-MiniTrainPatk-3(1).jpg");
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(3) .accordion-overlay {
  background-color: #86817C;
  opacity: 0.8;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(3).out .accordion-overlay {
  background-color: #86817C;
  opacity: 0;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(4) {
  background-image: url("/img/attraction/13-as660707.pixnet.net-200days-1.jpg");
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(4) .accordion-overlay {
  background-color: #4E5643;
  opacity: 0.8;
}

.photos .row:nth-child(2) .site-outer .site-inner .accordion-group li:nth-child(4).out .accordion-overlay {
  background-color: #4E5643;
  opacity: 0;
}

.focus .row:nth-child(2) {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 20%;
}

.focus .row:nth-child(2) .sp-img {
  min-width: 550px;
  min-height: 550px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/attraction/03-sheep17go.com-RongTing-3.JPG");
}

.focus .row:nth-child(2) .sp-img:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -10px;
  width: 105%;
  height: 105%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/attraction/splatter-3.jpg");
  mix-blend-mode: screen;
}

.focus .row:nth-child(2) .col:nth-child(2) {
  position: relative;
  min-height: 440px;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text {
  width: 550px;
  height: 440px;
  padding: 45px;
  position: absolute;
  top: 15%;
  right: 0;
  background-color: #ffffff;
  border-radius: 2%;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  /* detail button */
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .ribbon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .ribbon:before {
  content: 'Special';
  position: absolute;
  width: 150%;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  background-color: #AEA83E;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(45deg) translateY(-20px);
          transform: rotate(45deg) translateY(-20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #000311;
  -webkit-box-shadow: 140px 140px #000311;
          box-shadow: 140px 140px #000311;
  z-index: 0;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text h1 {
  padding-left: 10px;
  color: #3F4042;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("/img/attraction/sp-text-title-1.png");
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text h4 {
  padding-left: 40px;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("/img/attraction/sp-text-subtitle-1.png");
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text p {
  text-align: justify;
  line-height: 1.8rem;
  color: #3F4042;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .hashtag {
  width: calc(100% - 45px*2);
  position: absolute;
  bottom: 45px;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .hashtag span {
  padding-right: 10px;
  color: #AEA83E;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .button-55 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ffffff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .button-55:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}

.focus .row:nth-child(2) .col:nth-child(2) .sp-text .button-55:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.themes .row:nth-child(2) {
  margin-right: 8%;
  margin-left: 8%;
}

.themes .row:nth-child(2) .package {
  width: calc(100% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.themes .row:nth-child(2) .package:after {
  content: '';
  position: absolute;
  top: calc(50% - 37.5px);
  right: 0;
  bottom: calc(50% - 37.5px);
  left: 0;
  display: block;
  background-color: #e0dda7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0;
}

.themes .row:nth-child(2) .package:hover .couple, .themes .row:nth-child(2) .package:hover .family, .themes .row:nth-child(2) .package:hover .friend, .themes .row:nth-child(2) .package:hover .nature, .themes .row:nth-child(2) .package:hover .history {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.themes .row:nth-child(2) .package:hover .theme-name {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 1;
}

.themes .row:nth-child(2) .package:hover:after {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  opacity: 0.8;
}

.themes .row:nth-child(2) .package .theme-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.themes .row:nth-child(2) .package .couple, .themes .row:nth-child(2) .package .family, .themes .row:nth-child(2) .package .friend, .themes .row:nth-child(2) .package .nature, .themes .row:nth-child(2) .package .history {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  -webkit-filter: #e0dda7;
          filter: #e0dda7;
}

.themes .row:nth-child(2) .package .couple {
  height: 535px;
  background-image: url("/img/attraction/13-blue74.net-200days-4.jpg");
}

.themes .row:nth-child(2) .package .family {
  height: 250px;
  background-image: url("/img/attraction/26-ezgo.coa.gov.tw-zh-TW-Front-Agri-Detail-37-5.jpg");
}

.themes .row:nth-child(2) .package .friend {
  height: 258px;
  background-image: url("/img/attraction/04-FB@paintballyeke-YeKe-1.jpg");
}

.themes .row:nth-child(2) .package .nature {
  height: 258px;
  background-image: url("/img/attraction/06-www.leeleelin.com-SteelBridge-5.jpg");
}

.themes .row:nth-child(2) .package .history {
  height: 250px;
  background-image: url("/img/attraction/07-www.tourism.taichung.gov.tw-No9Tunnel-2.jpg");
}

.themes .row:nth-child(2) .nothing {
  width: calc(100% - 20px);
  height: 250px;
  margin: 10px;
  background-color: #e0dda7;
}

.themes .row:nth-child(2) .nothing .bike {
  margin-top: -100px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/attraction/bike.png");
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

@media (max-width: 767px) {
  .accordion-group {
    height: 360px;
  }
  .accordion-group li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accordion-group li h3 {
    margin: 10rem 0;
    padding: 0;
    width: 2.5rem;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 1;
  }
  .accordion-group li.out h3 {
    opacity: 0;
  }
}
/*# sourceMappingURL=attraction.css.map */