 .footer-mask {
   position: absolute;
   width: 100vw;
   height: 31.3vw;
   bottom: -6%;
   z-index: 0;
 }

 footer {
   width: 100vw;
   height: 22.55vw;
   background-color: #231D1A;
   position: absolute;
   margin-top: -9.427vw;
   z-index: -1;
 }

 .footer-curve {
   position: absolute;
   width: 100%;
   height: 41.667vw;
   background-color: white;
   clip-path: ellipse(73.698vw 20.833vw at 50% 50%);
   top: -160%;
 }



 .footer-container {
   width: 62.58vw;
   height: 9.323vw;
   position: absolute;
   margin: 0;
   margin-left: 29.84vw;
   margin-top: 9.323vw;
   display: flex;
   color: azure;
 }

 .footer-menu {
   width: 8.39vw;
 }

 .footer-menu-title {
   font-size: 1.146vw;
   margin-bottom: 1.354vw;

 }

 .footer-menu-item {
   font-size: 0.833vw;
   margin-bottom: 0.677vw;
 }

 .footer-menu-item::before {
   content: '一';
   width: 0.573vw;
   height: 1px;
   color: azure;
   margin-right: 0.573vw;
 }

 .footer-news {
   width: 12.24vw;
   height: 9.323vw;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url('https://placeholder.pics/svg/235X179');
 }

 .footer-menu-title .footer-menu-item:last-child {
   margin-bottom: 0;
 }