body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

nav {
  width: 100vw;
  height: 3.9vw;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 4;
}

.navbar {
  color: #CEDBD9;
  width: 100vw;
  display: flex;
  list-style: none;
  position: absolute;
  top: -110%;
  right: 0;
  margin: 0;
  z-index: 1;
  padding-top: 0.51%;
  padding-bottom: 0.2vw;
  padding-right: 5.677vw;
  justify-content: flex-end;
  background-color: rgba(59, 117, 86, 0.6);
  transition: top 0.5s;
  /* visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      top: 0%; */
}

.navbar li {
  font-weight: 900;
  font-size: 1.72vw;
  width: 7.448vw;
  text-align: center;
  padding-top: 1.094vw;
  position: relative;
}



nav:hover>.navbar {
  top: 0%;
  transition: top 1s;
  /* visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s linear; */
}

.nav-detail {
  display: none;
  background-color: transparent;
  border-radius: 10px;
  border: rgba(59, 117, 86, 0.6) solid 2px;
  position: absolute;
  top: -0.104vw;
  left: 0.26vw;
  width: calc(100% - 0.6vw);
  padding-top: 1.094vw;
  font-weight: 900;
  flex-direction: column;
  align-items: center;
}

.nav-detail::before {
  content: '';
  z-index: -1;
  border-radius: 10px;
  width: calc(100% + 0.6vw);
  height: calc(100% + 0.6vw);
  position: absolute;
  top: -0.3vw;
  left: -0.3vw;
  background-color: rgba(229, 255, 215, 0.75);
}

.nav-detail-title {
  padding-bottom: 3.23vw;
  color: #72A081;
}

.nav-detail a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 1.0417vw;
  font-size: bold;
  margin-bottom: 1.719vw;
  padding-bottom: 0.2083vw;
  border-bottom: 2px solid;
  color: #518568;
}

.active {
  display: flex;
}