* {
  box-sizing: border-box;
  max-width: 100%;
}

/* 下面這四個是避免用 100vw 的時候 下方出現滾輪軸的方法 */

/* 這邊的vw 都是原本的 px/1920 */

html {
  overflow-y: scroll;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  font-weight: 900;
}



#middle {
  width: 100vw;
  height: 46.458vw;
  position: relative;
}

.middle-background {
  background-image: url(/img/service/06-travel.taichung.gov.tw-SteelBridge-3.jpg);
  clip-path: ellipse(97.643vw 43.867vw at 50% -10%);
  background-color: #86817c;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 46.458vw;
  width: 100vw;
  z-index: -1;
}


#middle .title {
  position: absolute;
  font-size: 2vw;
  margin-left: 10.417vw;
  margin-top: 3.906vw;
}

.title:after {
  content: '';
  width: calc(438px / 2);
  height: 2px;
  border-bottom: 2px solid #000000;
}

#middle .subtitle {
  position: absolute;
  font-size: 1.458vw;
  margin-left: 14.115vw;
  margin-top: 6.927vw;
}

#middle .title-mask {
  width: 23.425vw;
  height: 5.75vw;
  position: absolute;
  top: 5%;
  left: 8%;
  z-index: -1;
}

#middle .content {
  font-size: 0.8vw;
  width: 38.298vw;
  height: 15vw;
  border: #e0e0e0 1px solid;
  padding: 20px 30px;
  line-height: 1.5vw;
  position: absolute;
  top: 12.917vw;
  left: 18.4375vw;
  background-color: rgba(227, 225, 176, 0.8);
  border-radius: 20px;
}

#middle .bike-img{
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 19vw;
  right: 14vw;
  background-image: url('/img/service/LOGO-腳踏車.png');
  display: block;
  background-size: cover;
  z-index: 1;
}

#bottom {
  width: 100vw;
  height: 130.1vw;
  position: absolute;
  top: 84%;

}

#bottom .background {
  width: 100%;
  height: 88.02vw;
  clip-path: ellipse(97.643vw 43.867vw at 50% 10%);
}


#bottom .background .title {
  position: absolute;
  font-size: 1.944vw;
  top: 7%;
  left: 10.5%;
}

#bottom .background .subtitle {
  position: absolute;
  font-size: 1.458vw;
  top: 9.3%;
  left: 14%;
}

#bottom .background .title-mask {
  width: 23.425vw;
  height: 5.75vw;
  position: absolute;
  top: 5.3%;
  left: 8%;
  z-index: -1;
}

#bottom .background .card-group {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 23.02vw;
  width: 53.073vw;
  height: 20.833vw;
  display: flex;
  justify-content: space-between;
}

#bottom .background .card-group .cards {
  width: 15.625vw;
  height: 20.833vw;
  background-color: transparent;
  border: 0.208vw solid #e0dda7;
  border-radius: 10%;
  position: relative;
}
#bottom .background .card-group .cards .icon{
  width: 50px;
  height: 50px;
  color: #4e5643;
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);

}
#bottom .background .card-group .cards::before {
  content: '';
  background-color: #e0dda7;
  width: 7.8125vw;
  height: 7.8125vw;
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bottom .background .card-group .cards .cards-title {
  width: 100%;
  height: 4.375vw;
  font-size: 1.5vw;
  text-align: center;
  line-height: 4.375vw;
  margin-top: 5vw;
  margin-bottom: 0.5vw;
  position: relative;
  color: #4e5643;
}

#bottom .background .card-group .cards .cards-title::before {
  content: '';
  width: 2.083vw;
  height: 0.108vw;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  background-color: #ffffff;
}

#bottom .background .card-group .cards .cards-title::after {
  content: '';
  width: 2.083vw;
  height: 0.108vw;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: 0%;
  background-color: #ffffff;
}

#bottom .background .card-group .cards .cards-content {
  padding: 0vw 1.5vw ;
  font-size: 0.78125vw;
  line-height: 1.302vw;
  color: #4e5643;
}

#bottom>.title {
  font-size: 1.5vw;
  padding-bottom: 0.25vw;
  width: 7.5833vw;
  border-bottom: 0.15625vw solid #ffffff;
  position: absolute;
  margin-top: -11.979vw;
  margin-left: 19.115vw;
  z-index: 1;
}

#bottom>.title::after {
  content: '';
  position: absolute;
  width: 3.802vw;
  height: 0.15625vw;
  background-color: rgb(255, 255, 255);
  bottom: -53%;
  left: 0%;
}

#bottom>.title-mask {
  width: 31.25vw;
  position: absolute;
  margin-top: -18.979vw;
  margin-left: 5vw;
}

#bottom .contact {
  width: 21.115vw;
  height: 32.76vw;
  background-color: #ffffff;
  border: #C6C6C6 0.21vw solid;
  padding-top: 2.344vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 28.125vw;
  top: 67.5vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

#bottom .contact>div {
  font-size: 1.5625vw;
  margin-bottom: 1vw;
}

#bottom .contact label {
  margin-top: 0.99vw;
  font-size: 0.99vw;
  text-align: start;
}

#bottom .contact label:first-child {
  margin-top: 0vw;
}

#bottom .contact input {
  height: 1.33vw;
}

#bottom .contact textarea {
  height: 6.1875vw;
}

#bottom .contact input,
#bottom .contact textarea {
  border: 0;
  border-bottom: #C6C6C6 0.21vw solid;
}

#bottom .contact label,
#bottom .contact input,
#bottom .contact textarea {
  width: 13.75vw;
}

#bottom .contact button {
  width: 16.667vw;
  height: 2.604vw;
  position: absolute;
  bottom: 1.4vw;
}


.footer-mask {
  bottom: -2%;
}



/* 表單 */

.pen-title{
  position: absolute;
  top: 60vw;
  left: 55vw;
}

/* Pen Title */
.pen-title {
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #f0f4ca;
}
.pen-title span a {
  color: #f0f4ca;
  font-weight: 600;
  text-decoration: none;
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #f0f4ca;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  transform: scale(10);
  transition: transform 0.3s ease;
}
.container.active .card.alt .toggle:before {
  content: "";
}
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}
.container.active .card.alt .title {
  transition-delay: 0.3s;
}
.container.active .card.alt .input-container {
  transition-delay: 0.4s;
}
.container.active .card.alt .input-container:nth-child(2) {
  transition-delay: 0.5s;
}
.container.active .card.alt .input-container:nth-child(3) {
  transition-delay: 0.6s;
}
.container.active .card.alt .button-container {
  transition-delay: 0.7s;
}

/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #4e5643;
  margin: 0 0 35px;
  color: #4e5643;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
h5{
  margin: 10px 0;
}

.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: "";
  position: absolute;
  background: #aea83e;
  width: 0;
  height: 2px;
  transition: 0.2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
  font-size: 20px;
  color: #aea83e;
}
.card .button-container button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #aea83e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: 0.3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #aea83e;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #aea83e;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  transition: 0.3s ease;
}
.card.alt .toggle {
  position: relative;
  background: #aea83e;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}