$title-img: '/img/store/title.png';
$swiper-img: 'https://dummyimage.com/275x275';
$goods-img: 'https://dummyimage.com/300x300';

// swiperjs
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

// swiperjs 自定義
.mySwiper {
    width: calc(100% - (12% * 2));
    margin-right: 12%;
    margin-left: 12%;
    // border: 1px solid #000;

    .swiper-slide {
        .img {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url($swiper-img);
        }
    }
}

// 標題
.title {
    width: 100%;
    height: 100%;
    min-width: 438px;
    min-height: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url($title-img);


    h1 {
        padding-left: 24px;
        padding-top: 32px;
    }

    &:after {
        content: '';
        width: calc( 438px / 2);
        height: 2px;
        border-bottom: 2px solid #000000;
    }
}

.subtitle {
    padding-left: 9%;
}


// section 地圖
.maps {
    background-color: rgba($color: #4e5643, $alpha: 0.7);
    margin: 300px 0px;

    .container {
        padding-top: 1%;
        padding-bottom: 5%;
    }
    
    .row:nth-child(2) {
        .col {
            width: 100%;
            height: 730px;
        }
    }
}

// 帶伴手禮
.omiyage .row:nth-child(2) {
    margin-right: 11%;
    margin-left: 11%;

    .col {
        margin-right: 30px;
        margin-bottom: 30px;

        // 來源: https://codepen.io/littlesnippets/pen/adLELd
        @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
        @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

        figure.goods {
            font-family: 'Raleway', Arial, sans-serif;
            position: relative;
            overflow: hidden;
            width: 300px;
            height: 300px;
            max-width: 300px;
            max-height: 300px;
            margin-bottom: 0;
            color: #000000;
            text-align: center;
            perspective: 50em;

            * {
                box-sizing: padding-box;
                transition: all 0.2s ease-out;
            }

            .img {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                background-image: url($goods-img);
            }

            img {
                max-width: 100%;
                vertical-align: top;
            }

            figcaption {
                position: absolute;
                top: 50%;
                left: 20px;
                right: 20px;
                opacity: 0;
                z-index: 1;
            }

            h1{
                font-size: 2rem;
            }
            h2, h4 {
                margin: 0;
            }

            h2 {
                font-weight: 600; 
            }

            h4 {
                font-weight: 400;
                text-transform: uppercase;
            }

            i {
                font-size: 32px;
            }

            a {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 20px;
                right: 20px;
                bottom: 20px;
                left: 20px;
                display: block;
                background-color: #ffffff;
                transition: all 0.4s ease-in-out;
                transform: rotateX(-90deg);
                transform-origin: 50% 50%;
                opacity: 0;
            }

            &:hover, .hover {
                figcaption {
                    transform: translateY(-50%);
                    transition-delay: 0.2s;
                    opacity: 1;
                }

                &:after {
                    transform: rotateX(0);
                    opacity: 0.9;
                }
            }
        }

        p {
            width: 300px;
            padding: 1.5rem;
            text-align: justify;
            color: #000;
        }
    }
}
